@{
    ViewData["Title"] = "BusinessMenuItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="alert alert-success">
        <h2 class="display-4">Soy la vistas para el USER de: MENU ITEMS</h2>
    </div>
</div>

