@{
    ViewData["Title"] = "Register";
}
<div class="d-flex justify-content-center align-items-center col-6 row">
    <form class="col-2 card card-body">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="Type your name" maxlength="60"  required />
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Lastname</label>
            <input type="text" class="form-control" id="lastname" aria-describedby="Type your lastname" maxlength="60" required />
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Lastname</label>
            <select id="idTipoUsuario" class="form-select" required>
                <option value="">Select a type</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" />
        </div>
        <div class="mb-3">
            <a class="" asp-area="" asp-controller="Home" asp-action="Login">Already register?</a>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-subtle me-2">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>