@model BusinessControlApp.Models.MenuItemViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Menu Item</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Menu Item's name" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" placeholder="Enter the description" required/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Price" class="control-label"></label>
                <input type="number" asp-for="Price" class="form-control" placeholder="Enter the price" required/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories" required></select>
            </div>
            <div class="form-group mb-2">
                <label asp-for="BusinessId" class="control-label">Business</label>
                <select asp-for="BusinessId" class ="form-control" asp-items="ViewBag.Businesses" required></select>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary me-4" />
                <a asp-controller="Home" asp-action="BusinessMenuItems">Back to List</a>
            </div>
        </form>
    </div>
</div>
